{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static "User/Register_style.css" %}">
</head>
<body>
    <div id="page" class="site">
        <div class="container">
            <div class="form-box">
                <form action="{% url "employer_profile" user.slug %}" method = 'POST' autocomplete="off">
                    {% csrf_token %}
                    <div class="form-four form-step active">
                        <div class="bg-svg"></div>
                        <h2>Enter your profile data </h2>
                        {% for field in form %}
                        <div>
                            {{field.label}}
                            {{field}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="btn-group">
                        <button type="submit" class="btn-login">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static "User/Reg_script.js" %}"></script>
</body>
</html>