{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static "User/Register_style.css" %}">
</head>
<body>
    <div id="page" class="site">
        <div class="container">
            <div class="form-box">
                <form action="{% url "job_post_data" user.slug %}" method = 'POST' autocomplete="off">
                    {% csrf_token %}
                    <div class="form-four form-step active">
                        <div class="bg-svg"></div>
                        <h2>Post a Job </h2>
        
                        <div>
                            {{form.title.label}}
                            {{form.title}}
                        </div>
                        <div>
                            {{form.description.label}}
                            {{form.description}}
                        </div>
                        <div>
                            {{form.requirements.label}}
                            {{form.requirements}}
                        </div>
                        <div>
                            {{form.user_s.label}}
                            {{form.user_s}}
                            <div class="skills-container" id="skillsContainer"></div>
                        </div>
                        <div>
                            {{form.availability.label}}
                            {{form.availability}}    
                        </div>
                        <div>
                            {{form.salary.label}}
                            {{form.salary}}
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="submit" class="btn-login">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static "User/Reg_script.js" %}"></script>
    <script src="{% static "User/skill.js" %}"></script>
</body>
</html>