{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static "User/Register_style.css" %}">
</head>
<body>
    <div id="page" class="site">
        <div class="container">
            <div class="form-box">
                <div class="progress">
                    <div class="logo"><a href="/"><span>.wiz</span>Jobs</a></div>
                    <ul class="progress-steps">
                        <li class="step active">
                            <span>1</span>
                            <p>Role <br><span>25 secs to compelete</span></p>
                        </li>
                        <li class="step">
                            <span>2</span>
                            <p>Personal <br><span>60 secs to compelete</span></p>
                        </li>
                        <li class="step">
                            <span>3</span>
                            <p>Security <br><span>30 secs to compelete</span></p>
                        </li>
                    </ul>
                </div>
                <form action="{% url "user_portfolio" user.slug%}" method='POST'>
                    {% csrf_token %}
                    <div class="form-one form-step active">
                        <div>
                            {{form.profile_title.label}}
                            {{form.profile_title}}
                        </div>
                        <div>
                            {{form.profile_description.label}}
                            {{form.profile_description}}
                        </div>
                        <div>
                            {{form.languages.label}}
                            {{form.languages}}
                        </div>
                    </div>
                    <div class="form-two form-step">
                        <div class="bg-svg"></div>
                        <h2>Personal Information</h2>
                        <p>Enter your personal information correctly</p>
                        <div>
                            {{form.user_s.label}}
                            {{form.user_s}}
                            <div class="skills-container" id="skillsContainer"></div>
                        </div>
                        <div>
                            {{form.education.label}}
                            {{form.education}}
                        </div>
                        <div>
                            {{form.experience.label}}
                            {{form.experience}}
                        </div>
                       
                    </div>
                    <div class="form-Three form-step">
                        <div class="bg-svg">

                        </div>
                        <h2>Security</h2>
                        <div>
                            {{form.hourly_rate.label}}
                            {{form.hourly_rate}}
                        </div>
                        <div>
                            {{form.profile_links.label}}
                            {{form.profile_links}}
                        </div> 
                        <div>
                            {{form.availability.label}}
                            {{form.availability}}
                        </div>
                        <div class="Checkbox">
                            <input type="checkbox" name = 'getNotified'>
                            <label>Get Notifications</label>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn-prev" disabled>Back</button>
                        <button type="button" class="btn-next">Next Step</button>
                        <button type="submit" class="btn-submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static "User/Reg_script.js" %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>